.responsive-table-container {
    overflow-x: auto;
  }

.responsive-table-container .MuiTableCell-root {
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @media (max-width: 900px) {
    .responsive-table-container .MuiTableCell-head,
    .responsive-table-container .MuiTableCell-body {
      display: block;
      width: 100%;
    }
  
    .responsive-table-container .MuiTableRow-root {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .responsive-table-container .MuiTableCell-root {
      min-width: 0;
      max-width: none;
      width: 100%;
    }
  }

.ant-popover-content .ant-popover-inner-content .ant-btn {
  background-color: #FF5A5F !important;
}
 
.ant-popover-content .ant-popover-inner-content .ant-btn:hover {
  background-color: #EF4444 !important;
  transition-duration: 0.4s;
}

/* .ant-layout-header :where(.css-dev-only-do-not-override-6j9yrn).ant-btn-primary.ant-btn-dangerous.button-header-admin{
  background-color: #FF5A5F !important;
}

.ant-layout-header :where(.css-dev-only-do-not-override-6j9yrn).ant-btn-primary.ant-btn-dangerous.button-header-admin:hover{
  background-color: #EF4444 !important;
} */


button.ant-btn.css-dev-only-do-not-override-6j9yrn.ant-btn-primary.ant-btn-dangerous{
  background-color: #FF5A5F !important;
}

button.ant-btn.css-dev-only-do-not-override-6j9yrn.ant-btn-primary.ant-btn-dangerous:hover{
  background-color: #EF4444 !important;
  transition-duration: 0.4s;
}
