/* responsive */
/* >lap */
@media screen and (min-width: 1200px) {
  .carouselUserBig {
    display: block;
  }
  .carouselUserMedium {
    display: none;
  }
  .carouselUserSmall {
    display: none;
  }
}
/* lap */
@media screen and (max-width: 1200px) {
  .carouselUserBig {
    display: none;
  }
  .carouselUserMedium {
    display: block;
  }
  .carouselUserSmall {
    display: none;
  }
  .listRoomUser {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .content_item img {
    width: 340px;
  }
}
/* tap */
@media screen and (max-width: 992px) {
  .carouselUserBig {
    display: none;
  }
  .carouselUserMedium {
    display: block;
  }
  .carouselUserSmall {
    display: none;
  }
  .listRoomUser {
    grid-template-columns: 1fr 1fr !important;
  }
  .content_item img {
    width: 370px;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .carouselUserBig {
    display: none;
  }
  .carouselUserMedium {
    display: none;
  }
  .carouselUserSmall {
    display: block;
  }
  .listRoomUser {
    grid-template-columns: 1fr !important;
  }
  .content_item img {
    object-fit: cover;
    object-position: 0% 50%;
    width: 390px;
    height: 300px;
    border-radius: 10px;
  }
}
