.bg_login{
    background-image: url(./image/logoBG.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnDangNhap:hover{
    background-color: #991B1B !important;
}
.btnQuenMK:hover{
    color: red !important;
    border-bottom: 1px solid red;
}
.btnDangKyNgay:hover{
    color: red !important;
    border-bottom: 1px solid red;
}