.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
}

h1 {
    font-size: 80px;
    margin-top: 50px;
}

.four_zero_four_bg {
    margin-top: 50px;
    background-image: url("./dribbble_1.gif");
    height: 400px;
    background-position: center;
}

.contant_box_404 h3 {
    font-size: 30px;
}

.contant_box_404 p {
    font-size: 30px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #ff385c;
    margin: 20px 0;
    display: inline-block;
    font-size: 20px;
}
.contant_box_404 {
    margin-top: -50px;
}
