.footerBot button:hover {
  text-decoration: underline;
  /* border-bottom: 1px solid gray;
  padding-bottom: 0; */
}
.footer {
  background-color: #f9fafb;
  border-top: 1px solid rgb(128, 128, 128, 0.2);
  position: fixed;
  width: 100%;
  bottom: 0;
}
 button{
  background: none !important;
}
