#ironman:hover {
  color: #3e92f8;
  border-color: #3e92f8 !important;
  cursor: pointer;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
  z-index: 99;
}
.userSelect .ant-select-selector {
  border-radius: 50px;
  font-size: 15px;
  padding: 15px !important;
}
.btnDangXuatUser:hover {
  background-color: rgb(197, 197, 197) !important;
  width: 100%;
}
.btnFromUserToAdmin:hover {
  color: #ff385c;
  text-decoration: underline;
}
